@{
    // 현재 들어와 있는 페이지의 Controller Name을 얻어온다.
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
    // 로그인해서 받아온 세션값
    var sessionID = Convert.ToInt32(Session["MemberID"]);
    var sessionName = Session["MemberID"].ToString();
}

<div class="onlyMobile" id="mobileMenu"></div>
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <menu id="gnb" class="pt20">
        <!--로고 클릭하면 메인 페이지로 이동-->
        <img id="goto_home" class="fl btn_span" src="~/Contents/Image/logo.png" alt="메인 페이지로 이동" onclick="location.href='@Url.Action("Index","Home")'" />
        <div id="wrap_login">
            <!--이름은 로그인이 되어있을 때만 표시한다.-->
            <!--IF-->
            @{
                if (sessionID > 0)
                {
                    // 로그인에 성공해서 0이상의 값이 넘어오면 로그아웃 버튼 출력
                    <a href="#" onclick="location.href='@Url.Action("Login","Account")'">@sessionName 님, 환영합니다.</a>
                    <img id="btn_login" src="~/Contents/Image/logout.png" onclick="location.href='@Url.Action("BeginLogout","Account")'" />
                }
                else
                {
                    <a href="#" onclick="location.href='@Url.Action("Login","Account")'">로그인하세요.</a>
                    // 로그인하지않았거나 하던 도중 에러가 뜨면 다시 로그인할 수 있게 버튼 출력
                    <img id="btn_login" src="~/Contents/Image/login.png" onclick="location.href='@Url.Action("Login", "Account")'" />
                }
            }
            
        </div>
        @*<div id="wrap_login">
                <a href="#">홍길동님</a>
                <img id="btn_login" src="~/Contents/Image/logout.png" />
            </div>*@
        <ul>
            <!--현재 페이지를 체크하는 if문을  모든 li에 넣고 현재페이지가 해당 제목이면 li에 class='on'을 프린트 한다.-->
            <li class="@(pageName == "Home" ? "on" : "")"><span>@Html.ActionLink("홈", "Index", "Home")</span></li>
            @*<li><span>고양이하숙</span></li>*@
            <li class="@(pageName == "Intro" ? "on" : "")"><span>@Html.ActionLink("고양이하숙", "About", "Intro")</span></li>
            @*<li><span>등록</span></li>*@
            <li class="@(pageName == "Regist" ? "on" : "")"><span>@Html.ActionLink("등록", "MainRegist", "Regist")</span></li>
            @*<li><span>검색</span></li>*@
            <li class="@(pageName == "Search" ? "on" : "")"><span>@Html.ActionLink("검색", "MainFinder", "Search")</span></li>

            <li class="onlyMobile"><span>홍길동님 | 로그아웃</span></li>
        </ul>
    </menu>
